<div class="container-fluid">
  <div class="row">
    <div class="col-12 px-0">
      <nav class="navbar bg-yellow d-flex justify-content-between">
        <span class="navbar-brand mb-0 h1">Your Online Store</span>

        <i class="fas fa-shopping-cart"></i>
      </nav>
    </div>

    <div
      class="h-50 w-100 position-absolute bg-yellow d-flex flex-column justify-content-center align-items-center"
    >
      <h4>Shop like never before</h4>
      <small>get a fluid experience</small>
    </div>
  </div>
  <app-cards-grid></app-cards-grid>
</div>
